*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container { /*div bao quat ben ngoai*/
    width: 950px;
    height: 800px;
    border: 1px solid #eee;
    background-color: #eee;
    box-shadow: 1px 1px 10px #ddd;
    margin: 50px 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-flex;
    flex-flow: row wrap;
}
#article {
    width: 350px;
    height: 500px;
    margin: 10px 10px 10px 30px;
    display: flex;
    flex-direction: column;
}
#sidebar {
    width: 500px;
    height: 600px;
    clear: right;
    margin: 10px;
}
#aside1, #aside2, #aside3, #aside4 {
    display: flex;
}
h2 {
    padding: 10px;
    margin: 10px 10px 10px 20px;
}
h3 {
    margin-bottom: 20px;
}
h4 {
    margin-bottom: 10px;
}
#head > p {
    color: gray;
    margin: 0 10px 20px 30px;
}
#article > p {
    color: gray;
    line-height: 1.5;
}
.content > p {
    color: gray;
    line-height: 1.5;
    font-size: 12px;
}
#article > img {
    width: 330px;
    height: 230px;
    margin-bottom: 20px;
    float: left;
}
[alt="sea"], [alt="AI"], [alt="venice"], [alt="secret"] {
    width: 130px;
    height: 100px;
    float: left;
    margin: 0px 20px 10px 10px;
}
.content {
    display: flex;
    flex-direction: column;
}
hr {
    color: blue;
    margin: 20px;
}

